@model IEnumerable<GameStoreAppCF.Models.Type>

@{
    ViewBag.Title = "Список типов";
}

<h2>Список типов</h2>

<p>
    @Html.ActionLink("Добавить тип", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <ul class="action-list">
                <li>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.ID })
                </li>
                <li>
                    @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
                </li>
            </ul>
        </td>
    </tr>
}

</table>
