@model IEnumerable<GameStoreAppCF.Models.Review>

@{
    ViewBag.Title = "Список отзывов";
}

<h2>Список отзывов</h2>

<p>
    @Html.ActionLink("Добавить отзыв", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review_Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review_Content)
        </td>
        <td>
            <ul class="action-list">
                <li>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.ID })
                </li>
                <li>
                    @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
                </li>
            </ul>
        </td>
    </tr>
}

</table>
