@model GameStoreAppCF.Models.Game

@{
    ViewBag.Title = Model.Name;
}
@{ 
    System.Drawing.ImageConverter converter;
    byte[] image;
    string base64StringCart;
}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 card" style="text-align:center">
            @{
                if (Model.Image != null)
                {
                    string base64String = Convert.ToBase64String(Model.Image);

                    <div class="mt-4">
                        <img src="@String.Format("data:image/png; base64,{0}", base64String)" style="width: 300px; height: auto" />
                    </div>
                }
                }
            <div class="card-body">
                <h3 class="card-title">@Model.Name</h3>
                <a href="@Url.Action("GameBoughtModal", "GameBought", new { gameID = Model.ID})" class="btn btn-primary game-bought">
                    @{
                        converter = new System.Drawing.ImageConverter();
                        image = (byte[])converter.ConvertTo(Resources.resources.cart, typeof(byte[]));
                        base64StringCart = Convert.ToBase64String(image);
                        <img src="@String.Format("data:image/png;base64,{0}", base64StringCart)" width="25" style="margin-top: -4px" />
                    }
                    @Model.Price ₽
                </a>
                <p class="card-text">@Model.Description</p>
                <div class="container">
                    <div class="row">
                        <Label title="@Model.Genre.Description"
                               style="font-size:20px;">@Model.Genre.Name</Label>
                        </div>
                        <div class="row">
                            <Label title="@Model.Type.Description"
                                   style="font-size:20px;">@Model.Type.Name</Label>
                            </div>
                            <hr />
                            @{
                                <div class="row">

                                    @{
                                        converter = new System.Drawing.ImageConverter();
                                        var imagePeople = (byte[])converter.ConvertTo(Resources.resources.people, typeof(byte[]));
                                        string base64StringPeople = Convert.ToBase64String(imagePeople);
                                    }
                                    <div class="col-md-6" style="text-align: center">
                                        <img src="@String.Format("data:image/png;base64,{0}", base64StringPeople)" width="20" height="20" />
                                        <Label style="font-size:15px;">@Model.Min_Players-@Model.Max_Players</Label>
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        @{
                                            var imageClocks = (byte[])converter.ConvertTo(Resources.resources.clocks, typeof(byte[]));
                                            string base64StringClocks = Convert.ToBase64String(imageClocks);
                                        }
                                        <img src="@String.Format("data:image/png;base64,{0}", base64StringClocks)" width="20" height="20" />
                                        <Label style="font-size:15px;">@Model.Min_Duration-@Model.Max_Duration</Label>
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-md-6" style="text-align: center">
                                        @{
                                            var imageManufacturer = (byte[])converter.ConvertTo(Resources.resources.manufacturer, typeof(byte[]));
                                            string base64StringManufacturer = Convert.ToBase64String(imageManufacturer);
                                        }
                                        <img src="@String.Format("data:image/png;base64,{0}", base64StringManufacturer)" width="20" height="20" />
                                        <Label title="Адрес: @Model.Manufacturer.Adress"
                                               style="font-size:15px;">@Model.Manufacturer.Name</Label>
                                        </div>
                                        <div class="col-md-6" style="text-align: center">
                                            @{
                                                var imageAuthor = (byte[])converter.ConvertTo(Resources.resources.author, typeof(byte[]));
                                                string base64StringAuthor = Convert.ToBase64String(imageAuthor);
                                            }
                                            <img src="@String.Format("data:image/png;base64,{0}", base64StringAuthor)" width="20" height="20" />
                                            <Label title="Адрес: @Model.Author.Adress"
                                                   style="font-size:15px;">@Model.Author.Name</Label>
                                            </div>
                                        </div>
                            }
                            <hr />
                            <h5>Сложность:</h5>
                            <h6 class="text-muted">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= Model.Difficulty)
                                    {
                                        <span>&#9733</span>
                                    }
                                    else
                                    {
                                        <span>&#9734</span>
                                    }
                                }
                            </h6>
                            <hr />
                        </div>
            </div>
        </div>
        <!-- /.card -->
        <div class="col-md-6 card">
            <div class="card-header">
                Отзывы
            </div>
            <div class="card-body">
                @if (Model.Review.Count == 0)
                {
                    <p>Отзывов нет :(</p>
                    <small class="text-muted">Оставьте самый первый отзыв!</small>
                    <hr>
                }
                else
                {
                    foreach (var review in Model.Review)
                    {
                        <p>@review.Review_Content</p>
                        <small class="text-muted">Оставлен пользователем @review.Author_Name</small><br/>
                        <small class="text-muted">@review.Date.ToString("dddd, dd MMMM yyyy")</small>
                        <hr>
                    }
                }
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Оставить отзыв
                </button>
                <div class="dropdown-menu">
                    <div style="width: 400px">
                        @Html.Partial("~/Views/CreateReview/CreateReview.cshtml", new GameStoreAppCF.Models.Review { Game_ID = Model.ID })
                    </div>
                </div>
            </div>
        </div>
            <!-- /.card -->
        </div>
    </div>
</div>  
<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".game-bought").click(function (e) {
            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal({ backdrop: false });
            });
        });
    })
</script>
