<!DOCTYPE html>
@*@Styles.Render("~/Content/css")*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Магазин настольных игр</title>
    <link href="@Url.Content("~/Content//vendor//bootstrap//css//bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Магазин настольных игр</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("О программе", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle db-nav-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Состояние БД
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink("Игры", "Index", "Games", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Жанры", "Index", "Genres", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Авторы", "Index", "Authors", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Клиенты", "Index", "Clients", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Производители", "Index", "Manufacturers", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Заказы", "Index", "Orders", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Отзывы", "Index", "Reviews", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Типы", "Index", "Types", null, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
    @RenderBody()
    <hr />
    </div>
    <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © @DateTime.Now.Year - Магазин настольных игр
        </div>
        <!-- Copyright -->
    </footer>
    <script src="@Url.Content("~/Content//vendor//jquery//jquery.min.js")"></script>
    <script src="@Url.Content("~/Content//vendor//bootstrap//js//bootstrap.bundle.min.js")"></script>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
