@model IEnumerable<GameStoreAppCF.Models.Game>

<div class="row">
    @foreach (var game in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4 game-container">
            <div class="card h-100">
                @{
                    if (game.Image != null)
                    {
                        string base64String = Convert.ToBase64String(game.Image);
                        <img src="@String.Format("data:image/png;base64,{0}", base64String)" style="width: 100%; height: auto" />
                    }
                }
                <div class="card-body">
                    <h4 class="card-title">
                        @Html.ActionLink(game.Name, "OpenGameDetails", new { id = game.ID })
                    </h4>
                    <h5>@game.Price₽</h5>
                    <p class="card-text">@game.Description</p>
                </div>
                <div class="show-on-hover">
                    <div class="card-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6" style="text-align: center">
                                    <img src="@Url.Content("~/Content/images/people.png")" width="20" height="20" />
                                    <Label style="font-size:15px;">@game.Min_Players-@game.Max_Players</Label>
                                </div>
                                <div class="col-md-6" style="text-align: center">
                                    <img src="@Url.Content("~/Content/images/clocks.png")" width="20" height="20" />
                                    <Label style="font-size:15px;">@game.Min_Duration-@game.Max_Duration</Label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>